# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.lock
*.egg-info/

# Virtual env
.venv/
venv/
.env.local

# uv
.uv/

# IDE
.vscode/
.idea/

# Docker
*.pid
*.seed
*.bak

# Local env configs
configs/env/.env.local

# Claude
CLAUDE.md
.claude/settings.local.json
